<h1> Welcome to Rock-Paper-Scissors! </h1>
<b>Rock paper scissors</b>
                                     (commonly 
                                    <b>scissors, paper, rock</b>
                                     or stone in Australia and New Zealand)
                                    <sup id="cite_ref-rpscamps_1-0" class="reference">
<a href="#cite_note-rpscamps-1">&#91;1&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-2" class="reference">
                                        <a href="#cite_note-2">&#91;2&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-3" class="reference">
                                        <a href="#cite_note-3">&#91;3&#93;</a>
                                    </sup>
                                     is an 
                                    <a href="/wiki/Intransitive_game" title="Intransitive game">intransitive</a>
                                    <a href="/wiki/Hand_game" title="Hand game">hand game</a>
                                    , usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" (a fist with the index finger and middle finger extended, forming a V). The earliest form of "rock paper scissors"-style game originated in 
                                    <a href="/wiki/Ming_dynasty" title="Ming dynasty">China</a>
                                     and was subsequently imported into 
                                    <a href="/wiki/Japan" title="Japan">Japan</a>
                                    , where it reached its modern standardized form, before being spread throughout the world in the early 20th century.
                                </p>
                                <p>
                                    A 
                                    <a href="/wiki/Simultaneous_game" title="Simultaneous game">simultaneous</a>
                                    , 
                                    <a href="/wiki/Zero-sum_game" title="Zero-sum game">zero-sum game</a>
                                    , it has three possible outcomes: a draw, a win or a loss. A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or "breaks scissors" or sometimes "blunts scissors"
                                    <sup id="cite_ref-4" class="reference">
                                        <a href="#cite_note-4">&#91;4&#93;</a>
                                    </sup>
                                    ), but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cuts paper"). If both players choose the same shape, the game is tied and is usually replayed to break the tie.
                                </p>
                                <p>
                                    Rock paper scissors is often used as a fair choosing method between two people, similar to 
                                    <a href="/wiki/Coin_flipping" title="Coin flipping">coin flipping</a>
                                    , 
                                    <a href="/wiki/Drawing_straws" class="mw-redirect" title="Drawing straws">drawing straws</a>
                                    , or throwing 
                                    <a href="/wiki/Dice" title="Dice">dice</a>
                                     in order to settle a dispute or make an unbiased group decision. Unlike truly 
                                    <a href="/wiki/Randomness" title="Randomness">random</a>
                                     selection methods, however, rock paper scissors can be played with some degree of skill by recognizing and exploiting non-random behavior in opponents.
                                    <sup id="cite_ref-5" class="reference">
                                        <a href="#cite_note-5">&#91;5&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-6" class="reference">
                                        <a href="#cite_note-6">&#91;6&#93;</a>
                                    </sup>
                                </p>
                                <meta property="mw:PageProp/toc"/>
                                <h2>
                                    <span class="mw-headline" id="Etymology">Etymology</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=1" title="Edit section: Etymology">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h2>
                                <p>
                                    The name "rock paper scissors" is simply a translation of the Japanese words for the three gestures involved in the game,
                                    <sup id="cite_ref-長田須磨・須山名保子共編_1977.4_7-0" class="reference">
                                        <a href="#cite_note-長田須磨・須山名保子共編_1977.4-7">&#91;7&#93;</a>
                                    </sup>
                                     though the Japanese name for the game is different.
                                </p>
                                <p>
                                    The name Roshambo or Rochambeau has been claimed to refer to 
                                    <a href="/wiki/Jean-Baptiste_Donatien_de_Vimeur,_comte_de_Rochambeau" title="Jean-Baptiste Donatien de Vimeur, comte de Rochambeau">Count Rochambeau</a>
                                    , who allegedly played the game during the 
                                    <a href="/wiki/American_Revolutionary_War" title="American Revolutionary War">American Revolutionary War</a>
                                    . The legend that he played the game is apocryphal, as all evidence points to the game being brought to the United States later than 1910; if this name has anything to do with him it is for some other reason.
                                    <sup id="cite_ref-mentalfloss_8-0" class="reference">
                                        <a href="#cite_note-mentalfloss-8">&#91;8&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-teachinghistory_9-0" class="reference">
                                        <a href="#cite_note-teachinghistory-9">&#91;9&#93;</a>
                                    </sup>
                                     It is unclear why this name became associated with the game, with hypotheses ranging from a slight phonetic similarity with the Japanese name 
                                    <i>jan-ken-pon,</i>
                                    <sup id="cite_ref-mentalfloss_8-1" class="reference">
                                        <a href="#cite_note-mentalfloss-8">&#91;8&#93;</a>
                                    </sup>
                                     to the presence of a statue of Rochambeau in a neighborhood of Washington, D.C.
                                    <sup id="cite_ref-teachinghistory_9-1" class="reference">
                                        <a href="#cite_note-teachinghistory-9">&#91;9&#93;</a>
                                    </sup>
                                </p>
                                <h2>
                                    <span class="mw-headline" id="Names">Names</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=2" title="Edit section: Names">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h2>
                                <p>
                                    The modern game is known by several other names such as 
                                    <b>Rochambeau</b>
                                    , 
                                    <b>roshambo</b>
                                    , 
                                    <b>ro-sham-bo</b>
                                    , 
                                    <b>Bato Bato Pik</b>
                                    , 
                                    <b>Jak-en-poy</b>
                                     and 
                                    <b>Quartz Parchment Shears</b>
                                    .
                                    <sup id="cite_ref-rpscamps_1-1" class="reference">
                                        <a href="#cite_note-rpscamps-1">&#91;1&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-10" class="reference">
                                        <a href="#cite_note-10">&#91;10&#93;</a>
                                    </sup>
                                     When the game's name is a list of three items, different countries often have the list in a different order.
                                </p>
                                <p>
                                    In 
                                    <a href="/wiki/North_America" title="North America">North America</a>
                                     and the 
                                    <a href="/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a>
                                    , it is known as "rock, paper, scissors" or "scissors, paper, stone".
                                    <sup id="cite_ref-11" class="reference">
                                        <a href="#cite_note-11">&#91;11&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-12" class="reference">
                                        <a href="#cite_note-12">&#91;12&#93;</a>
                                    </sup>
                                     If this name is chanted while actually playing the game, it might be followed by an exclamation of "shoot" at the moment when the players are to reveal their choice (i.e. "Rock, paper, scissors, shoot!").
                                    <sup id="cite_ref-13" class="reference">
                                        <a href="#cite_note-13">&#91;13&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    In 
                                    <a href="/wiki/Australia" title="Australia">Australia</a>
                                    , the most common name is "scissors, paper, rock" (the reverse of the American format).
                                    <sup id="cite_ref-14" class="reference">
                                        <a href="#cite_note-14">&#91;14&#93;</a>
                                    </sup>
                                     In 2022, a 
                                    <a href="/wiki/TikTok" title="TikTok">TikTok</a>
                                     video claimed that there are regional variations of the name in Australia; the video claimed that it was referred to as "scissors, paper, rock" in 
                                    <a href="/wiki/New_South_Wales" title="New South Wales">New South Wales</a>
                                    , "rock, paper, scissors" in 
                                    <a href="/wiki/Victoria_(state)" title="Victoria (state)">Victoria</a>
                                    , 
                                    <a href="/wiki/South_Australia" title="South Australia">South Australia</a>
                                     and 
                                    <a href="/wiki/Western_Australia" title="Western Australia">Western Australia</a>
                                     and "paper, scissors, rock" in 
                                    <a href="/wiki/Queensland" title="Queensland">Queensland</a>
                                    , though this has been disputed.
                                    <sup id="cite_ref-15" class="reference">
                                        <a href="#cite_note-15">&#91;15&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    In 
                                    <a href="/wiki/New_Zealand" title="New Zealand">New Zealand</a>
                                    , the most common name in English is "paper, scissors, rock".
                                    <sup id="cite_ref-16" class="reference">
                                        <a href="#cite_note-16">&#91;16&#93;</a>
                                    </sup>
                                     In 
                                    <a href="/wiki/M%C4%81ori_language" title="Māori language">Māori</a>
                                    , it is known as 
                                    <span title="Māori-language text">
                                        <i lang="mi">pēpa, kutikuti, kōhatu</i>
                                    </span>
                                     (
                                    <abbr style="font-size:85%" title="literal translation">lit.</abbr>
                                    <span style="white-space: nowrap;">&#8201;</span>
                                    'paper, scissors, rock&#39;).
                                    <sup id="cite_ref-17" class="reference">
                                        <a href="#cite_note-17">&#91;17&#93;</a>
                                    </sup>
                                </p>
                                <h2>
                                    <span class="mw-headline" id="Gameplay">Gameplay</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=3" title="Edit section: Gameplay">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h2>
                                <style data-mw-deduplicate="TemplateStyles:r1096954695/mw-parser-output/.tmulti">
                                .mw-parser-output .tmulti .multiimageinner {
                                    display: flex;
                                    flex-direction:column
                                }

                                .mw-parser-output .tmulti .trow {
                                    display: flex;
                                    flex-direction: row;
                                    clear: left;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    box-sizing:border-box
                                }

                                .mw-parser-output .tmulti .tsingle {
                                    margin: 1px;
                                    float:left
                                }

                                .mw-parser-output .tmulti .theader {
                                    clear: both;
                                    font-weight: bold;
                                    text-align: center;
                                    align-self: center;
                                    background-color: transparent;
                                    width:100%
                                }

                                .mw-parser-output .tmulti .thumbcaption {
                                    background-color:transparent
                                }

                                .mw-parser-output .tmulti .text-align-left {
                                    text-align:left
                                }

                                .mw-parser-output .tmulti .text-align-right {
                                    text-align:right
                                }

                                .mw-parser-output .tmulti .text-align-center {
                                    text-align:center
                                }

                                @media all and (max-width: 720px) {
                                    .mw-parser-output .tmulti .thumbinner {
                                        width: 100% !important;
                                        box-sizing: border-box;
                                        max-width: none !important;
                                        align-items:center
                                    }

                                    .mw-parser-output .tmulti .trow {
                                        justify-content:center
                                    }

                                    .mw-parser-output .tmulti .tsingle {
                                        float: none !important;
                                        max-width: 100% !important;
                                        box-sizing: border-box;
                                        text-align:center
                                    }

                                    .mw-parser-output .tmulti .tsingle .thumbcaption {
                                        text-align:left
                                    }

                                    .mw-parser-output .tmulti .trow > .thumbcaption {
                                        text-align: center
                                    }
                                }
                                </style>
                                <div class="thumb tmulti tright">
                                    <div class="thumbinner multiimageinner" style="width:312px;max-width:312px">
                                        <div class="trow">
                                            <div class="tsingle" style="width:102px;max-width:102px">
                                                <div class="thumbimage">
                                                    <span typeof="mw:File">
                                                        <a href="/wiki/File:Rock-paper-scissors_(rock).png" class="mw-file-description">
                                                            <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/100px-Rock-paper-scissors_%28rock%29.png" decoding="async" width="100" height="100" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/150px-Rock-paper-scissors_%28rock%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/200px-Rock-paper-scissors_%28rock%29.png 2x" data-file-width="2500" data-file-height="2500"/>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="tsingle" style="width:102px;max-width:102px">
                                                <div class="thumbimage">
                                                    <span typeof="mw:File">
                                                        <a href="/wiki/File:Rock-paper-scissors_(paper).png" class="mw-file-description">
                                                            <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/100px-Rock-paper-scissors_%28paper%29.png" decoding="async" width="100" height="100" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/150px-Rock-paper-scissors_%28paper%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/200px-Rock-paper-scissors_%28paper%29.png 2x" data-file-width="2500" data-file-height="2500"/>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="tsingle" style="width:102px;max-width:102px">
                                                <div class="thumbimage">
                                                    <span typeof="mw:File">
                                                        <a href="/wiki/File:Rock-paper-scissors_(scissors).png" class="mw-file-description">
                                                            <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/100px-Rock-paper-scissors_%28scissors%29.png" decoding="async" width="100" height="100" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/150px-Rock-paper-scissors_%28scissors%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/200px-Rock-paper-scissors_%28scissors%29.png 2x" data-file-width="2500" data-file-height="2500"/>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trow" style="display:flex">
                                            <div class="thumbcaption">Each of the three basic hand signs (from left to right: rock, paper, and scissors) beats one of the other two, and loses to the other.</div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    The players may start by counting to three aloud, or by speaking the name of the game (e.g. "Rock! Paper! Scissors!"), raising one hand in a fist and swinging it down with each syllable onto their other hand (or in a less common variant, holding it behind their back). They then "throw" or "shoot" by extending their selected sign towards their opponent on what would have been the fourth count, often saying the word "shoot" while doing so. Variations include a version where players throw immediately on the third count (thus throwing on the count of "Scissors!"), a version including five counts rather than four ("Rock! Paper! Scissors! Says! Shoot!", almost exclusively localized in the United States to 
                                    <a href="/wiki/Long_Island" title="Long Island">Long Island</a>
                                     and some parts of 
                                    <a href="/wiki/New_York_City" title="New York City">New York City</a>
                                    ), and a version where players shake their hands three times before "throwing".
                                    <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">
                                        &#91;
                                        <i>
                                            <a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed">
                                                <span title="This claim needs references to reliable sources. (November 2023)">citation needed</span>
                                            </a>
                                        </i>
                                        &#93;
                                    </sup>
                                </p>
                                <h2>
                                    <span class="mw-headline" id="History">History</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=4" title="Edit section: History">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h2>
                                <h3>
                                    <span class="mw-headline" id="Origins">Origins</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=5" title="Edit section: Origins">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h3>
                                <p>
                                    The first known mention of the game was in the book 
                                    <i>
                                        <a href="/w/index.php?title=Wuzazu&amp;action=edit&amp;redlink=1" class="new" title="Wuzazu (page does not exist)">Wuzazu</a>
                                        <span class="noprint" style="font-size:85%; font-style: normal;">
                                            &#160;&#91;
                                            <a href="https://zh.wikipedia.org/wiki/%E4%BA%94%E9%9B%9C%E7%B5%84" class="extiw" title="zh:五雜組">zh</a>
                                            &#93;
                                        </span>
                                    </i>
                                     by the 
                                    <a href="/wiki/Ming_dynasty" title="Ming dynasty">Ming-dynasty</a>
                                     writer 
                                    <a href="/w/index.php?title=Xie_Zhaozhe&amp;action=edit&amp;redlink=1" class="new" title="Xie Zhaozhe (page does not exist)">Xie Zhaozhe</a>
                                    <span class="noprint" style="font-size:85%; font-style: normal;">
                                        &#160;&#91;
                                        <a href="https://zh.wikipedia.org/wiki/%E8%AC%9D%E8%82%87%E6%B7%9B" class="extiw" title="zh:謝肇淛">zh</a>
                                        &#93;
                                    </span>
                                     (
                                    <abbr title="floruit (&#39;flourished&#39;&#160;– known to have been active at a particular time or during a particular period)">fl.</abbr>
                                    <abbr title="circa">c.</abbr>
                                     1600), who wrote that the game dated back to the time of the 
                                    <a href="/wiki/Han_dynasty" title="Han dynasty">Han dynasty</a>
                                     (206 BCE – 220 CE).
                                    <sup id="cite_ref-18" class="reference">
                                        <a href="#cite_note-18">&#91;18&#93;</a>
                                    </sup>
                                     In the book, the game was called 
                                    <i>shoushiling</i>
                                    . 
                                    <a href="/wiki/Li_Rihua" title="Li Rihua">Li Rihua</a>
                                    's book 
                                    <i>Note of Liuyanzhai</i>
                                      also mentions this game, calling it 
                                    <i>shoushiling</i>
                                     (
                                    <a href="/wiki/Traditional_Chinese_characters" title="Traditional Chinese characters">t</a>
                                    . 手勢令; 
                                    <a href="/wiki/Simplified_Chinese_characters" title="Simplified Chinese characters">s</a>
                                    . 手势令), 
                                    <i>huozhitou</i>
                                     (
                                    <a href="/wiki/Traditional_Chinese_characters" title="Traditional Chinese characters">t</a>
                                    . 豁指頭; 
                                    <a href="/wiki/Simplified_Chinese_characters" title="Simplified Chinese characters">s</a>
                                    . 豁指头), or 
                                    <i>huaquan</i>
                                     (划拳).
                                </p>
                                <figure typeof="mw:File/Thumb">
                                    <a href="/wiki/File:Mushi-ken_(%E8%99%AB%E6%8B%B3),_Japanese_rock-paper-scissors_variant,_from_the_Kensarae_sumai_zue_(1809).jpg" class="mw-file-description">
                                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg/300px-Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg" decoding="async" width="300" height="196" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg/450px-Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg/600px-Mushi-ken_%28%E8%99%AB%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Kensarae_sumai_zue_%281809%29.jpg 2x" data-file-width="1148" data-file-height="751"/>
                                    </a>
                                    <figcaption>
                                        Mushi-ken, the earliest Japanese 
                                        <a href="/wiki/Sansukumi-ken" title="Sansukumi-ken">sansukumi-ken</a>
                                         game (1809). From left to right: slug (namekuji), frog (kawazu) and snake (hebi).
                                    </figcaption>
                                </figure>
                                <p>
                                    From China the game was brought to Japan.
                                    <sup id="cite_ref-linh95_19-0" class="reference">
                                        <a href="#cite_note-linh95-19">&#91;19&#93;</a>
                                    </sup>
                                     Throughout Japanese history there are frequent references to 
                                    <i>
                                        <a href="/wiki/Sansukumi-ken" title="Sansukumi-ken">sansukumi-ken</a>
                                    </i>
                                    , meaning 
                                    <i>ken</i>
                                     (fist) games "of the three who are afraid of one another" (i.e. A beats B, B beats C, and C beats A).
                                    <sup id="cite_ref-linh95_19-1" class="reference">
                                        <a href="#cite_note-linh95-19">&#91;19&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    The earliest 
                                    <i>sansukumi-ken</i>
                                     in Japan was apparently 
                                    <i>mushi-ken</i>
                                     (虫拳), a version imported directly from China.
                                    <sup id="cite_ref-linh95_19-2" class="reference">
                                        <a href="#cite_note-linh95-19">&#91;19&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-linha95-3940_20-0" class="reference">
                                        <a href="#cite_note-linha95-3940-20">&#91;20&#93;</a>
                                    </sup>
                                     In 
                                    <i>mushi-ken</i>
                                     the "frog" (represented by the thumb) triumphs over the "slug" (represented by the little finger), which, in turn prevails over the "snake" (represented by the index finger), which triumphs over the "frog".
                                    <sup id="cite_ref-linh95_19-3" class="reference">
                                        <a href="#cite_note-linh95-19">&#91;19&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-linha95-3940_20-1" class="reference">
                                        <a href="#cite_note-linha95-3940-20">&#91;20&#93;</a>
                                    </sup>
                                     (The Chinese and Japanese versions differ in the animals represented; in adopting the game, the 
                                    <a href="/wiki/Chinese_characters" title="Chinese characters">Chinese characters</a>
                                     for the poisonous centipede (蜈蜙) were apparently confused with the characters for the slug (蛞蝓)).
                                    <sup id="cite_ref-linha95-3940_20-2" class="reference">
                                        <a href="#cite_note-linha95-3940-20">&#91;20&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    The most popular 
                                    <i>sansukumi-ken</i>
                                     game in Japan was 
                                    <i>kitsune-ken</i>
                                     (
                                    <a href="https://ja.wikipedia.org/wiki/%E7%8B%90%E6%8B%B3" class="extiw" title="ja:狐拳">狐拳</a>
                                    ). In this game, a supernatural fox called a 
                                    <a href="/wiki/Kitsune" title="Kitsune">kitsune</a>
                                     (狐) defeats the village head, the village head (庄屋) defeats the hunter, and the hunter (猟師) defeats the fox. 
                                    <i>Kitsune-ken</i>
                                    , unlike 
                                    <i>mushi-ken</i>
                                     or rock–paper–scissors, requires gestures with both hands.
                                    <sup id="cite_ref-linha98-325326_21-0" class="reference">
                                        <a href="#cite_note-linha98-325326-21">&#91;21&#93;</a>
                                    </sup>
                                </p>
                                <figure class="mw-default-size mw-halign-left" typeof="mw:File/Thumb">
                                    <a href="/wiki/File:Kitsune-ken_(%E7%8B%90%E6%8B%B3),_Japanese_rock-paper-scissors_variant,_from_the_Genyoku_sui_bento_(1774).jpg" class="mw-file-description">
                                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg/220px-Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg" decoding="async" width="220" height="143" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg/330px-Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg/440px-Kitsune-ken_%28%E7%8B%90%E6%8B%B3%29%2C_Japanese_rock-paper-scissors_variant%2C_from_the_Genyoku_sui_bento_%281774%29.jpg 2x" data-file-width="1228" data-file-height="796"/>
                                    </a>
                                    <figcaption>Kitsune-ken was a popular Japanese rock paper scissors variant. From left to right: The hunter (ryōshi), village head (shōya) and fox (kitsune).</figcaption>
                                </figure>
                                <p>
                                    Today, the best-known 
                                    <i>sansukumi-ken</i>
                                     is called 
                                    <i>jan-ken</i>
                                    <span style="font-weight: normal">
                                         (
                                        <span title="Japanese-language text">
                                            <span lang="ja">じゃんけん</span>
                                        </span>
                                        )
                                    </span>
                                    ,
                                    <sup id="cite_ref-linha95-3940_20-3" class="reference">
                                        <a href="#cite_note-linha95-3940-20">&#91;20&#93;</a>
                                    </sup>
                                     which is a variation of the Chinese games introduced in the 17th century.
                                    <sup id="cite_ref-22" class="reference">
                                        <a href="#cite_note-22">&#91;22&#93;</a>
                                    </sup>
                                    <i>Jan-ken</i>
                                     uses the rock, paper, and scissors signs
                                    <sup id="cite_ref-linh95_19-4" class="reference">
                                        <a href="#cite_note-linh95-19">&#91;19&#93;</a>
                                    </sup>
                                     and is the direct source of the modern version of rock paper scissors.
                                    <sup id="cite_ref-linha95-3940_20-4" class="reference">
                                        <a href="#cite_note-linha95-3940-20">&#91;20&#93;</a>
                                    </sup>
                                     Hand-games using gestures to represent the three conflicting elements of rock, paper, and scissors have been most common since the modern version of the game was created in the late 19th century, between the 
                                    <a href="/wiki/Edo" title="Edo">Edo</a>
                                     and 
                                    <a href="/wiki/Meiji_period" class="mw-redirect" title="Meiji period">Meiji</a>
                                     periods.
                                    <sup id="cite_ref-23" class="reference">
                                        <a href="#cite_note-23">&#91;23&#93;</a>
                                    </sup>
                                </p>
                                <h3>
                                    <span class="mw-headline" id="Spread_beyond_East_Asia">Spread beyond East Asia</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=6" title="Edit section: Spread beyond East Asia">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h3>
                                <p>
                                    By the early 20th century, rock paper scissors had spread beyond East Asia, especially through increased Japanese contact with the west.
                                    <sup id="cite_ref-24" class="reference">
                                        <a href="#cite_note-24">&#91;24&#93;</a>
                                    </sup>
                                     Its English-language name is therefore taken from a translation of the names of the three Japanese hand-gestures for rock, paper and scissors;
                                    <sup id="cite_ref-長田須磨・須山名保子共編_1977.4_7-1" class="reference">
                                        <a href="#cite_note-長田須磨・須山名保子共編_1977.4-7">&#91;7&#93;</a>
                                    </sup>
                                     elsewhere in East Asia the open-palm gesture represents "cloth" rather than "paper".
                                    <sup id="cite_ref-25" class="reference">
                                        <a href="#cite_note-25">&#91;25&#93;</a>
                                    </sup>
                                     The shape of the scissors is also adopted from the Japanese style.
                                    <sup id="cite_ref-長田須磨・須山名保子共編_1977.4_7-2" class="reference">
                                        <a href="#cite_note-長田須磨・須山名保子共編_1977.4-7">&#91;7&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    A 1921 article about 
                                    <a href="/wiki/Cricket" title="Cricket">cricket</a>
                                     in the 
                                    <i>
                                        <a href="/wiki/Sydney_Morning_Herald" class="mw-redirect" title="Sydney Morning Herald">Sydney Morning Herald</a>
                                    </i>
                                     described "stone, scissors, and paper" as a "Teutonic method of drawing lots", which the writer "came across when travelling on the Continent once".
                                    <sup id="cite_ref-26" class="reference">
                                        <a href="#cite_note-26">&#91;26&#93;</a>
                                    </sup>
                                     Another article, from the same year, in the 
                                    <i>
                                        <a href="/wiki/Washington_Herald" class="mw-redirect" title="Washington Herald">Washington Herald</a>
                                    </i>
                                     described it as a method of "Chinese gambling".
                                    <sup id="cite_ref-27" class="reference">
                                        <a href="#cite_note-27">&#91;27&#93;</a>
                                    </sup>

                                    In Britain in 1924 it was described in a letter to 
                                    <i>The Times</i>
                                     as a hand game, possibly of Mediterranean origin, called "zhot".
                                    <sup id="cite_ref-28" class="reference">
                                        <a href="#cite_note-28">&#91;28&#93;</a>
                                    </sup>

                                    A reader then wrote in to say that the game "zhot" referred to was evidently Jan-ken-pon, which she had often seen played throughout Japan.
                                    <sup id="cite_ref-29" class="reference">
                                        <a href="#cite_note-29">&#91;29&#93;</a>
                                    </sup>
                                     Although at this date the game appears to have been new enough to British readers to need explaining, the appearance by 1927 of a popular thriller with the title 
                                    <i>Scissors Cut Paper</i>
                                    ,
                                    <sup id="cite_ref-30" class="reference">
                                        <a href="#cite_note-30">&#91;30&#93;</a>
                                    </sup>
                                     followed by 
                                    <i>Stone Blunts Scissors</i>
                                     (1929), suggests it quickly became popular.
                                </p>
                                <p>
                                    The game is referred to in two of Hildegard G. Frey's novels in the 
                                    <i>Campfire Girls</i>
                                     series: 
                                    <i>The Campfire Girls Go Motoring</i>
                                     (1916) 
                                    <sup id="cite_ref-31" class="reference">
                                        <a href="#cite_note-31">&#91;31&#93;</a>
                                    </sup>
                                     and 
                                    <i>The Campfire Girls Larks and Pranks</i>
                                     (1917),
                                    <sup id="cite_ref-32" class="reference">
                                        <a href="#cite_note-32">&#91;32&#93;</a>
                                    </sup>
                                     which suggests that it was known in America at least that early. The first passage where it appears says "In order that no feelings might be involved in any way over which car we other girls traveled in, Nyoda, Solomon-like, proposed that she and Gladys play 'John Kempo' for us. (That isn't spelled right, but no matter.)"  There's no explanation in any of the places where it is referenced of what the game actually is. This suggests that the author at least believed that the game was well known enough in America that her readers would understand the reference.
                                </p>
                                <p>
                                    In 1927 
                                    <i>La Vie au patronage</i>
                                    , a children's magazine in France, described it in detail,
                                    <sup id="cite_ref-33" class="reference">
                                        <a href="#cite_note-33">&#91;33&#93;</a>
                                    </sup>
                                     referring to it as a "jeu japonais" ("Japanese game"). Its French name, "Chi-fou-mi", is based on the 
                                    <a href="/wiki/Old_Japanese" title="Old Japanese">Old Japanese</a>
                                     words for "one, two, three" ("hi, fu, mi").
                                </p>
                                <p>
                                    A 1932 
                                    <i>New York Times</i>
                                     article on the Tokyo rush hour describes the rules of the game for the benefit of American readers, suggesting it was not at that time widely known in the U.S.
                                    <sup id="cite_ref-34" class="reference">
                                        <a href="#cite_note-34">&#91;34&#93;</a>
                                    </sup>
                                     Likewise, the 
                                    <a href="/wiki/Trick-taking_card_game" class="mw-redirect" title="Trick-taking card game">trick-taking card game</a>
                                     “Jan-Ken-Po”, first published in 1934, describes the rules of the hand-game without mentioning any American game along the lines of “rock paper scissors”.  The 1933 edition of the 
                                    <i>
                                        <a href="/wiki/Compton%27s_Encyclopedia" title="Compton&#39;s Encyclopedia">Compton's Pictured Encyclopedia</a>
                                    </i>
                                     described it as a common method of settling disputes between children in its article on Japan; the name was given as "John Kem Po" and the article pointedly asserted, "This is such a good way of deciding an argument that American boys and girls might like to practice it too."
                                    <sup id="cite_ref-35" class="reference">
                                        <a href="#cite_note-35">&#91;35&#93;</a>
                                    </sup>
                                </p>
                                <h2>
                                    <span class="mw-headline" id="Strategies">Strategies</span>
                                    <span class="mw-editsection">
                                        <span class="mw-editsection-bracket">[</span>
                                        <a href="/w/index.php?title=Rock_paper_scissors&amp;action=edit&amp;section=7" title="Edit section: Strategies">
                                            <span>edit</span>
                                        </a>
                                        <span class="mw-editsection-bracket">]</span>
                                    </span>
                                </h2>
                                <figure class="mw-default-size" typeof="mw:File/Thumb">
                                    <a href="/wiki/File:Roshambo-Laos.jpg" class="mw-file-description">
                                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Roshambo-Laos.jpg/220px-Roshambo-Laos.jpg" decoding="async" width="220" height="166" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Roshambo-Laos.jpg/330px-Roshambo-Laos.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Roshambo-Laos.jpg/440px-Roshambo-Laos.jpg 2x" data-file-width="3358" data-file-height="2534"/>
                                    </a>
                                    <figcaption>Children in Laos playing rock paper scissors</figcaption>
                                </figure>
                                <figure class="mw-default-size" typeof="mw:File/Thumb">
                                    <a href="/wiki/File:Roshambo-Myanmar.jpg" class="mw-file-description">
                                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Roshambo-Myanmar.jpg/220px-Roshambo-Myanmar.jpg" decoding="async" width="220" height="171" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Roshambo-Myanmar.jpg/330px-Roshambo-Myanmar.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Roshambo-Myanmar.jpg/440px-Roshambo-Myanmar.jpg 2x" data-file-width="3949" data-file-height="3064"/>
                                    </a>
                                    <figcaption>Children in Myanmar playing rock paper scissors</figcaption>
                                </figure>
                                <p>
                                    It is impossible to gain an advantage over an opponent that chooses their move 
                                    <a href="/wiki/Discrete_uniform_distribution" title="Discrete uniform distribution">uniformly at random</a>
                                    . However, it is possible to gain a significant advantage over a non-random player by predicting their move, which can be done by exploiting psychological effects or by analyzing statistical patterns of their past behavior.
                                    <sup id="cite_ref-rpscontest_36-0" class="reference">
                                        <a href="#cite_note-rpscontest-36">&#91;36&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-bbc_rps_37-0" class="reference">
                                        <a href="#cite_note-bbc_rps-37">&#91;37&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-38" class="reference">
                                        <a href="#cite_note-38">&#91;38&#93;</a>
                                    </sup>
                                     As a result, there have been programming competitions for 
                                    <a href="/wiki/Algorithm" title="Algorithm">algorithms</a>
                                     that play rock paper scissors.
                                    <sup id="cite_ref-rpscontest_36-1" class="reference">
                                        <a href="#cite_note-rpscontest-36">&#91;36&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-roshambo1_39-0" class="reference">
                                        <a href="#cite_note-roshambo1-39">&#91;39&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-roshambo2_40-0" class="reference">
                                        <a href="#cite_note-roshambo2-40">&#91;40&#93;</a>
                                    </sup>
                                </p>
                                <p>
                                    During tournaments, players often prepare their sequence of three gestures prior to the tournament's commencement.
                                    <sup id="cite_ref-Lawrence_Journal-World_41-0" class="reference">
                                        <a href="#cite_note-Lawrence_Journal-World-41">&#91;41&#93;</a>
                                    </sup>
                                    <sup id="cite_ref-Fox_News_42-0" class="reference">
                                        <a href="#cite_note-Fox_News-42">&#91;42&#93;</a>
                                    </sup>
                                     Some tournament players employ tactics to confuse or trick the other player into making an illegal move, resulting in a loss. One such tactic is to shout the name of one move before throwing another, in order to misdirect and confuse their opponent.
                                    <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">
                                        &#91;
                                        <i>
                                            <a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed">
                                                <span title="This claim needs references to reliable sources. (May 2022)">citation needed</span>
                                            </a>
                                        </i>
                                        &#93;
                                    </sup>
                                </p>
                                <p>
                                    The "rock" move, in particular, is notable in that it is typically represented by a closed fist—often identical to the fist made by players during the initial countdown. If a player is attempting to beat their opponent based on quickly reading their hand gesture as the players are making their moves, it is possible to determine if the opponent is about to throw "rock" based on their lack of hand movement, as both "scissors" and "paper" require the player to reposition their hand. This can likewise be used to deceive an anticipating opponent by keeping one's fist closed until the last possible moment, leading them to believe that you are about to throw "rock".
                                    <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">
                                        &#91;
                                        <i>
                                            <a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed">
                                                <span title="This claim needs references to reliable sources. (July 2023)">citation needed</span>
                                            </a>
                                        </i>
                                        &#93;
                                    </sup>
                                </p>
